<body>
    <div class="login" *ngIf="user.role == 'SAdmin'">
        <p>Only admin can see this</p>

        

        <!--

            Create Users
            Delete Users

            Create Groups
            Delete Groups

            Add user to group
            Delete user from group

            Add channels to group
            Delete channels from group

            Add user to channel
            Delete user from channel

            Add Group admins
            Delete Group admins

            Add group assis
            Delete group assis

        -->
    </div>
</body>