<body>
    <div class="login" *ngIf="user.role == 'SAdmin' || user.role == 'GAdmin' || user.role == 'GAssis'">
        <div *ngIf="user.role == 'SAdmin'">
          <h3>List of Users</h3>
          <table class="table">
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
              <tr style="padding-top: 20px;" *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td><span class="btn btn-primary" (click)="deleteUser(user._id)"><i class="fa fa-trash"></i>Delete</span></td>
              </tr>
            </table>
            <h3>Create a User:</h3>
            <form>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" [(ngModel)]="username" name="username" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text" [(ngModel)]="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" [(ngModel)]="email" name="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="role">Role</label>
                    <select [(ngModel)]="role" name="role" class="form-control">
                      <option>GAdmin</option>
                      <option>GAssis</option>
                      <option>User</option>
                    </select>
                  </div>
                <button (click)="createAccount();" class="btn btn-info btn-md">Submit</button>
              </form>
        </div>
        <br>
       <div *ngIf="user.role == 'SAdmin' || user.role == 'GAdmin'">
          <h3>List of Groups</h3>
          <table class="table">
            <tr>
              <th>Group Name</th>
              <th>Users</th>
            </tr>
              <tr style="padding-top: 20px;" *ngFor="let group of groups">
                <td>{{group.groupName}}</td>
                <td>{{group.Users}}</td>
                <td><span class="btn btn-primary" (click)="deleteGroup(group._id)"><i class="fa fa-trash"></i>Delete</span></td>
              </tr>
          </table>
          <h3>Create Group:</h3>
          <form>
                <div class="form-group">
                  <label for="groupNameLabel">Group Name</label>
                  <input type="text" [(ngModel)]="groupName" name="groupName" id="groupName" class="form-control">
                </div>
                <button (click)="createGroup();" class="btn btn-info btn-md">Submit</button>
          </form>
        </div>
        <br>
        <div *ngIf="user.role == 'SAdmin' || user.role == 'GAdmin'">
          <h3>Add User To Group:</h3>
          <form>
                <div class="form-group">
                  <label for="groupNameLabel">Group Name</label>
                  <select [(ngModel)]="groupName" name="groupName" id="groupName" class="form-control">
                    <option *ngFor="let group of groups" [value]="group.groupName">{{group.groupName}}
                  </select>
                  <label for="groupNameLabel">User's Name</label>
                  <select [(ngModel)]="username" name="username" id="username" class="form-control">
                    <option *ngFor="let user of users" [value]="user.username">{{user.username}}
                  </select>
                </div>
                <button (click)="addUserToGroup();" class="btn btn-info btn-md">Submit</button>
          </form>
        </div>
        <br>
        <div *ngIf="user.role == 'SAdmin' || user.role == 'GAdmin'">
          <h3>Remove User from Group:</h3>
          <form>
                <div class="form-group">
                  <label for="groupNameLabel">Group Name</label>
                  <select [(ngModel)]="groupName" name="groupName" id="groupName" class="form-control">
                    <option *ngFor="let group of groups" [value]="group.groupName">{{group.groupName}}
                  </select>
                  <label for="groupNameLabel">User's Name</label>
                  <select [(ngModel)]="username" name="username" id="username" class="form-control">
                    <option *ngFor="let user of users" [value]="user.username">{{user.username}}
                  </select>
                </div>
                <button (click)="deleteUserFromGroup();" class="btn btn-info btn-md">Submit</button>
          </form>
        </div>
        <br>
        <div *ngIf="user.role == 'SAdmin' || user.role == 'GAdmin' || user.role == 'GAssis'">
          <h3>List of Channels</h3>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Group</th>
              <th>Users</th>
            </tr>
            <tr style="padding-top: 20px;" *ngFor="let channel of channels">
              <td>{{channel.name}}</td>
              <td>{{channel.group}}</td>
              <td>{{channel.users}}</td>
              <td><span class="btn btn-primary" (click)="deleteChannel(channel._id)"><i class="fa fa-trash"></i>Delete</span></td>
            </tr>
          </table>
          <h3>Create Channel:</h3>
          <form>
                <div class="form-group">
                  <label for="channelNameLabel">Channel Name</label>
                  <input type="text" [(ngModel)]="channelName" name="channelName" id="channelName" class="form-control">
                  <label for="groupNameLabel">Group Name</label>
                  <select [(ngModel)]="groupName" name="groupName" id="groupName" class="form-control">
                    <option *ngFor="let group of groups" [value]="group.groupName">{{group.groupName}}
                  </select>
                </div>
                <button (click)="createChannel();" class="btn btn-info btn-md">Submit</button>
          </form>
        </div>
        <br>
        <div *ngIf="user.role == 'SAdmin' || user.role == 'GAdmin' || user.role == 'GAssis'">
          <h3>Add User To Channel:</h3>
          <form>
                <div class="form-group">
                  <label for="groupNameLabel">Group Name</label>
                  <input type="text" [(ngModel)]="groupName" name="groupName" id="groupName" class="form-control">
                  <label for="groupNameLabel">Channel Name</label>
                  <input type="text" [(ngModel)]="channelName" name="channelName" id="channelName" class="form-control">
                  <label for="groupNameLabel">User's Name</label>
                  <input type="text" [(ngModel)]="username" name="username" id="username" class="form-control">
                </div>
                <button (click)="addUserToChannel();" class="btn btn-info btn-md">Submit</button>
          </form>
        </div>
        <br>
        <div *ngIf="user.role == 'SAdmin' || user.role == 'GAdmin' || user.role == 'GAssis'">
          <h3>Remove User from Channel:</h3>
          <form>
                <div class="form-group">
                  <label for="groupNameLabel">Group Name</label>
                  <input type="text" [(ngModel)]="groupName" name="groupName" id="groupName" class="form-control">
                  <label for="groupNameLabel">Channel Name</label>
                  <input type="text" [(ngModel)]="channelName" name="channelName" id="channelName" class="form-control">
                  <label for="groupNameLabel">User's Name</label>
                  <input type="text" [(ngModel)]="username" name="username" id="username" class="form-control">
                </div>
                <button (click)="deleteUserFromChannel();" class="btn btn-info btn-md">Submit</button>
          </form>
        </div>
        <br>
    </div>
    <div *ngIf="user.role == 'User'">
      <p>Sorry you do not have access to this page</p>
    </div>
</body>