<body>
    <div class="login" *ngIf="user.role == 'SAdmin'">
        <div>
            <h3>Create a User:</h3>
            <form>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" [(ngModel)]="username" name="username" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text" [(ngModel)]="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" [(ngModel)]="email" name="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="role">Role</label>
                    <input type="text" [(ngModel)]="role" name="role" class="form-control">
                  </div>
                <button (click)="createAccount();" class="btn btn-info btn-md">Submit</button>
              </form>
        </div>
        <br>
        <div>
          <h3>Delete User:</h3>
          <form>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" [(ngModel)]="removeUser" name="username" class="form-control">
                </div>
                <button (click)="deleteUser();" class="btn btn-info btn-md">Submit</button>
          </form>
        </div>
        <br>
       <div>
          <h3>Create Group:</h3>
          <form>
                <div class="form-group">
                  <label for="groupNameLabel">Group Name</label>
                  <input type="text" [(ngModel)]="groupName" name="groupName" id="groupName" class="form-control">
                </div>
                <button (click)="createGroup();" class="btn btn-info btn-md">Submit</button>
          </form>
        </div>
        <br>
        <div>
          <h3>Delete Group:</h3>
          <form>
                <div class="form-group">
                  <label for="groupNameLabel">Group Name</label>
                  <input type="text" [(ngModel)]="removeGroup" name="groupName" id="groupName" class="form-control">
                </div>
                <button (click)="deleteGroup();" class="btn btn-info btn-md">Submit</button>
          </form>
        </div>
        <br>
        <div>
          <h3>Create Channel:</h3>
          <form>
                <div class="form-group">
                  <label for="channelNameLabel">Channel Name</label>
                  <input type="text" [(ngModel)]="channelName" name="channelName" id="channelName" class="form-control">
                </div>
                <button (click)="createChannel();" class="btn btn-info btn-md">Submit</button>
          </form>
        </div>
        <br>
        <div>
          <h3>Delete Channel:</h3>
          <form>
                <div class="form-group">
                  <label for="channelNameLabel">Channel Name</label>
                  <input type="text" [(ngModel)]="removeChannel" name="channelName" id="channelName" class="form-control">
                </div>
                <button (click)="deleteChannel();" class="btn btn-info btn-md">Submit</button>
          </form>
        </div>
        <br>
        <!--
            Add user to group
            Delete user from group

            Add Group admins
            Delete Group admins

            Add group assis
            Delete group assis
            
            Add channels to group
            Delete channels from group
            
            Add user to channel
            Delete user from channel
        -->
    </div>
</body>